@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope&display=swap');

.header-container {
    background: #FFFFFF;
    box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    height: 48px;
    padding-top: 6px;
}
.main-container{
    width: 772px;
    margin: 24px auto;
    background: #FFFFFF;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    padding: 32px 24px 54px 24px;
    margin-bottom: 398px !important; 
}
.mat-checkbox {
    margin-right: 32px;
    margin-left: 12px;
}
.margin-top {
    margin-top: 46px;
}
.user-icon {
    margin-right: 20px;
}

.user-icon-two {
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
.confirmation-label {
    height: 29px;
    width: 770px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 143%;
    text-align: center;
}

.confirm-detail-one {
    margin-top: 24px;
    height: 60px;
    width: 770px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.confirm-detail-msg {
    word-break: break-all;
    width: 651px;
    text-align: center;
    margin: auto;
}
.confirm-detail-two {
    height: 50px;
    width: 770px;
    font-family:  'Inter'; 
    font-style: medium;
    font-size: 14px; 
    font-weight: 500; 
    line-height: 20px; 
    letter-spacing: 0.15px;
    color: #000000DE;
}
.p-label {
    margin: 24px 0px 16px 0px;
    font-family:  'Inter'; 
    font-style: medium;
    font-size: 14px; 
    font-weight: 500; 
    line-height: 20px; 
    letter-spacing: 0.15px;
    color: #000000DE;
}
.details-field-container {
    width: 774px;
    height: 91px;
    padding: 0px, 12px, 0px, 12px;
    font-family:  'Inter'; 
}
.details-textarea {
    height: 60px;
    resize: none;
}
.contact-person-card {
    height: 108px;
    width: 742px;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;    
    box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);

    /* box-sizing: 0px 3px 3px 2px #cbcbcb !important; */
}
.selected-contact-person {
    width: 742px;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;    
    box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}
.selected-contact-field-container{
    margin-top: 32px;
    text-align: center;
}
.selected-contact-field{
    width: 660px;
}
.contact-input-field {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}
.contact-person {
    font-family:  'Inter'; 
    display: flex;
}
.contact-info {
    margin-left: 10px;
}
.contact-name {
    font-weight: 500;

}
.contact-info-margin-top {
    margin-top: 15px;
}

.submit-button {
    width: 220px;
    height: 36px;
    background: #007DFF;
    color: white; 
    margin: 16px auto; 
}
.edit-btn-container {
    flex: 1;
    text-align: right;
}
.add-contact-container {
    font-family:  'Inter'; 
    font-size: 12px;
}

.page-footer {
    font-family:  'Inter'; 
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    justify-content: space-between;
    vertical-align: 3px;
    padding: 0px 48px 0px 48px;
    /* box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12); */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);

}

.edit-button {
    border: 1px solid #007DFF;
    color: #007DFF;
    padding-left: 6px;
}

.cancel-button {
    margin-right: 5px;
    color: #0000008A;
}

.save-button {
    background: #007DFF;
    color: white;
}

.edit-icon {
    font-size: 1.4em;
    margin-top: 3px;
    padding-left: 2px;
    margin-right: 5px;
}

.inter-md {
    font-family: 'Inter';
    font-weight: 500;
}

.add-contact {
    color: #007DFF;
    margin-left: 21px;
    margin-right: 9.5px;
}
.add-circle-icon {
    vertical-align: -7px;
    margin-left: 9px;
}