@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope&display=swap');

.header-container {
    background: #FFFFFF;
    box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    height: 48px;
    padding-top: 6px;
}
.main-container{
    width: 772px;
    margin: 24px auto;
    background: #FFFFFF;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    padding: 32px 24px 54px 24px;
    margin-bottom: 398px !important; 
    text-align: center;
}
.confirmed-msg {
    text-align: center;
    width: 100%;
}
.check-icon {
    margin-top: 44px;
    color: #4CAF50;
    font-size: 4em;
    margin-right: 30px;
}
.thank-you-msg {
    margin-top: 30px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
}
.confirmed-ack {
    margin-top: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
}
.date-time {
    margin-top: 24px;
}
.confirmed-date {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    margin-right: 25px;
}
.date-icon {
    font-size: 19px;
    vertical-align: -3px;
    color: #0000008A;
    margin-right: 5px;
}
.confirmed-time {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
}
.page-footer {
    font-family:  'Inter';
    display: flex;
    justify-content: space-between;
    vertical-align: 3px;
    padding-left: 48px;
    padding-right: 48px;
    /* box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12); */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 96px);
}