<div>
    <mat-toolbar class="header-container">
        <span>
            <app-logo></app-logo>
        </span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <mat-card class="main-container">
        <app-logo-link></app-logo-link>
        <div class="confirmed-msg">
            <mat-icon class="check-icon">check</mat-icon>
        </div>
        <div class="confirmed-msg thank-you-msg">Thank you!</div>
        <div class="confirmed-msg confirmed-ack">You confirm that you acknowledge our vendor's visit on:</div>
        <div class="confirmed-msg date-time">
            <span class="confirmed-date">
                <mat-icon class="date-icon">calendar_today</mat-icon>April 4, 2022
            </span>
            <span class="confirmed-time">
                <mat-icon class="date-icon">access_time</mat-icon> Morning(8 AM - 12 PM)
            </span>
        </div>
    </mat-card>
    <mat-card class="page-footer">
        <span>© VELOCITY 2021</span>
        <span>SUPPORT F.A.Q</span>
    </mat-card>
</div>